<head>
	<link rel="stylesheet" type="text/css" href="_css/estilo_cachorro_gato.css">
	<link rel="stylesheet" type="text/css" href="_css/estilo_produto_individual.css">
	<meta charset="utf-8">
</head>
<body>
	<ul id="produto_individual">
		<li id="imagem_racao_cachorro05"></li>
		<li id="info_produto">
			<p>Ração Nestlé Purina Dog Chow Adultos Sachê Carne e Arroz - 100g</p>
			<p id="texto_negrito">Por: R$ 2,00</p>
			<br><br>
			<button class="btn_a">
				<a href="comprar.html"><i class="fas fa-shopping-cart"></i> Comprar </a>
			</button>
		</li>
	</ul>
</body>