<head>
	<link rel="stylesheet" type="text/css" href="_css/estilo_cachorro_gato.css">
	<link rel="stylesheet" type="text/css" href="_css/estilo_produto_individual.css">
	<meta charset="utf-8">
</head>
<body>
	<ul id="produto_individual">
		<li id="imagem_remedio_cachorro01"></li>
		<li id="info_produto">
			<p>Antipulgas e Carrapatos MSD Bravecto para Cães de 4,5 a 10kg - 250mg</p>
			<p id="texto_negrito">Por: R$ 170,90</p>
			<br><br>
			<button class="btn_a">
				<a href="comprar.html"><i class="fas fa-shopping-cart"></i> Comprar </a>
			</button>
		</li>
	</ul>
</body>