<head>
	<link rel="stylesheet" type="text/css" href="_css/estilo_cachorro_gato.css">
	<link rel="stylesheet" type="text/css" href="_css/estilo_produto_individual.css">
	<meta charset="utf-8">
</head>
<body>
	<ul id="produto_individual">
		<li id="imagem_racao_gato03"></li>
		<li id="info_produto">
			<p>Ração Farmina Matisse para Gatos Filhotes - 800g</p>
			<p id="texto_negrito"> Por: R$ 19,70 </p>
			<br><br>
			<button class="btn_a">
				<a href="comprar.html"><i class="fas fa-shopping-cart"></i> Comprar </a>
			</button>
		</li>
	</ul>
</body>